<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Shop</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"/>
    <link href="/assets/css/back.css" rel="stylesheet"/>
</head>
<body>
<div class="newsletter">
    <h2>SUBSCRIBE TO OUR NEWS LETTER</h2>
    <p>Enter your email address to receive regular updates, as well as news on upcoming events and specific offers.</p>
    <input placeholder="Email Address" type="email"/>
    <button>Subscribe</button>
</div>

<div class="footer">
    <div class="container">
        <div class="column">
            <h3>BOOK SHOP</h3>
            <p>1203 Town Center Drive FL 33458 USA<br>+0000 123 456 789<br>info@example.com</p>
        </div>
        <div class="column">
            <h3>Help</h3>
            <a href="#">Search</a><br>
            <a href="#">Help</a><br>
            <a href="#">Information</a><br>
            <a href="#">Privacy Policy</a><br>
            <a href="#">Shipping Information</a>
        </div>
        <div class="column">
            <h3>Support</h3>
            <a href="#">Search Terms</a><br>
            <a href="#">Advanced Search</a><br>
            <a href="#">Helps &amp; Faqs</a><br>
            <a href="#">Store Location</a><br>
            <a href="#">Orders &amp; Returns</a>
        </div>
        <div class="column">
            <h3>Information</h3>
            <a href="#">Contact</a><br>
            <a href="#">About</a><br>
            <a href="#">Carers</a><br>
            <a href="#">Refund &amp; Returns</a><br>
            <a href="#">Deliveries</a>
        </div>
    </div>
    <div class="social-icons">
        <a href="#"><i class="fab fa-facebook-f"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-pinterest-p"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
    </div>
    <div class="payment-icons">
        <img alt="Visa" height="25" src="https://storage.googleapis.com/a1aa/image/db62FDKexMWeCE2cYVgpfdsVznMEX9BBCiE0m11EKv5aECjnA.jpg" width="40"/>
        <img alt="MasterCard" height="25" src="https://storage.googleapis.com/a1aa/image/JxIPgXHlDSbuOpUNsUY6zv8yAdT3L9AJxGgktQ03EBEjQY8E.jpg" width="40"/>
        <img alt="American Express" height="25" src="https://storage.googleapis.com/a1aa/image/vuRg6GvyGsa9CFwVljfu9uE1PeprWmnfGIBVQERa8cVgECjnA.jpg" width="40"/>
        <img alt="PayPal" height="25" src="https://storage.googleapis.com/a1aa/image/11AQqgsU20rQMZyNn1Q2nv0SwEi3jVI5pyasyhj8JuZkQY8E.jpg" width="40"/>
        <img alt="Discover" height="25" src="https://storage.googleapis.com/a1aa/image/OuvUB9YvCRpIO5JUzH5oYRAZgntsWiYrtc8XNJ4ePUPFhw4JA.jpg" width="40"/>
    </div>
    <div class="book-icon">
        <img alt="Open book icon" height="50" src="https://storage.googleapis.com/a1aa/image/WXwe5bNneGjNZ0FQxGuNJUOvpAi9zYB3xK0NDFNTFGUPChxTA.jpg" width="50"/>
    </div>
    <div class="copyright">
        All Right Reserved © 2024, Bookly-theme by Hoang_Chuan
    </div>
</div>
</body>
</html>
